---
import '@fontsource/lora';
import '@fontsource/varela-round';
import Footer from 'components/Footer.astro';
import Header from 'components/Header.astro';
import Metadata from 'components/Metadata.astro';
import SkipLinks from 'components/SkipLinks.astro';
import { getDefaultMetadata } from 'lib/sanity';
import type { PageMetadata } from 'types/sanity';

export interface Props {
  title?: string;
  slug: string;
  pageMetadata?: PageMetadata | undefined;
  headerColor: string;
}

const { title, slug, pageMetadata, headerColor } = Astro.props;

const defaultMetadata = await getDefaultMetadata();
---

<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/kodio-web/favicon.png" />
    <Metadata
      title={title}
      slug={slug}
      description={pageMetadata?.description ?? defaultMetadata.description}
      image={pageMetadata?.image ?? defaultMetadata.image}
    />
  </head>
  <body>
    <SkipLinks />
    <Header color={headerColor} />
    <main id="main">
      <slot />
    </main>
    <Footer />
    <style lang="scss">
      :root {
        --black: #000000;
        --white: #fffdf5;
        --green-900: #0f1f24;
        --green-800: #112f3a;
        --green-700: #0f1f24;
        --orange-500: #c96336;
        --orange-400: #ef8354;
        --orange-300: #faa682;
        --orange-200: #ffc7b0;
        --purple-400: #b385d4;
        --purple-300: #d3afe9;
        --purple-200: #ebccff;
        --purple-100: #f2deff;
        --yellow-200: #f7e06a;
        --yellow-100: #fff0b8;
        --yellow-50: #fffae8;

        --color-text: var(--green-800);
        --color-focus: var(--orange-400);
        --header-height: 5.25rem;
        --content-max-width: calc(81rem + var(--content-padding) * 2);
        --content-padding: 1.5rem;
        --ff-lora: 'Lora', system-ui, sans-serif;
        --ff-varela: 'Varela Round', system-ui, sans-serif;
        --fs-h1: clamp(200%, 5vw, 300%);
        --fs-h2: 200%;
        --fs-h3: 150%;
        --fs-h4: 125%;

        @media (min-width: $width-l) {
          --header-height: 7.5rem;
        }
      }

      body {
        font-family: var(--ff-lora);
        color: var(--color-text);
        background-color: var(--white);
        line-height: 1.9;
      }

      :global(a),
      :global(p) {
        font-family: var(--ff-varela);
      }

      :global(h1) {
        font-size: var(--fs-h1);
        line-height: 1.4;
      }

      :global(h2) {
        font-size: var(--fs-h2);
        line-height: 1.4;
      }

      :global(h3) {
        font-size: var(--fs-h3);
        line-height: 1.4;
      }

      :global(h4) {
        font-size: var(--fs-h4);
        line-height: 1.4;
      }
    </style>
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
        color: inherit;
      }

      *:focus-visible {
        outline: none;
      }

      body.tabbed *:focus-visible {
        outline: none;
        position: relative;
        border-radius: 4px;
      }

      body.tabbed *:focus-visible::before {
        content: '';
        position: absolute;
        inset: -6px;
        border: 2px solid var(--color-focus);
        border-radius: 5px;
      }

      html,
      body {
        height: 100%;
      }

      html {
        scroll-behavior: smooth;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
      }

      body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      a {
        display: inline-block;
      }

      img,
      picture,
      video,
      canvas {
        display: block;
        max-width: 100%;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      ul,
      ol {
        padding: 0;
      }

      button {
        cursor: pointer;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      }
    </style>
  </body>
</html>

<script>
  document.addEventListener('keydown', (e) => {
    if (e.key === 'Tab') {
      document.body.classList.add('tabbed');
    }
  });

  document.addEventListener('mousedown', () => {
    document.body.classList.remove('tabbed');
  });
</script>
