---
export interface Props {
  color: string;
}

const { color } = Astro.props;
---

<section>
  <div>
    <slot />
  </div>
</section>

<style lang="scss" define:vars={{ color }}>
  section {
    position: relative;
    background-color: var(--color);

    &:not(:first-child) {
      @include section-inverted-corner(var(--color));
    }

    :global(:last-child) {
      margin-bottom: 0;
    }

    > div {
      margin: auto;
      padding: var(--content-padding);
      max-width: calc(var(--content-max-width) + var(--content-padding) * 2);
    }
  }
</style>
