---
import { isDarkColor } from 'utils/colors';
import type { Color } from 'types/sanity';

export interface Props {
  color: Color;
}

const { color } = Astro.props;

const backgroundColor = `var(--${color})`;
const textColor = isDarkColor(color) ? 'var(--white)' : 'var(--color-text)';
---

<section>
  <div>
    <slot />
  </div>
</section>

<style lang="scss" define:vars={{ backgroundColor, textColor }}>
  section {
    background-color: var(--backgroundColor);
    color: var(--textColor);

    &:not(:first-child) {
      @include section-inverted-corner(var(--backgroundColor));
    }

    :global(:last-child) {
      margin-bottom: 0;
    }

    > div {
      display: grid;
      gap: 3rem;
      margin: auto;
      padding: 3.5rem var(--content-padding);
      max-width: var(--content-max-width);
    }
  }
</style>
