---
import BlockContent from 'components/sanity/BlockContent.astro';
import type { Props as PortableTextProps } from 'astro-portabletext/types';
import type { Article } from 'types/sanity';

export type Props = PortableTextProps<Article>;

const { node, class: astroClass } = Astro.props;
---

<div class={astroClass}>
  <BlockContent value={node.body} />
</div>
