---
import type { Props as PortableTextProps } from 'astro-portabletext/types';

import BlockContent from '@/components/sanity/BlockContent.astro';
import type { Article } from '@/lib/sanity';

export type Props = PortableTextProps<Article>;

const { node } = Astro.props;
---

<div class="article">
  <BlockContent value={node.body} />
</div>

<style>
  .article {
    &:has(+ *) {
      margin-bottom: 2rem;
    }
  }
</style>
