---
import BlockContent from '@components/sanity/BlockContent.astro';
import type { Props as PortableTextProps } from 'astro-portabletext/types';
import type { Article } from '@lib/sanity';

export type Props = PortableTextProps<Article>;

const { node } = Astro.props;
---

<div class:list={['article', Astro.props.class]}>
  <BlockContent value={node.body} />
</div>

<style lang="scss">
  .article {
    > :global(h3) {
      margin: 2rem 0 1rem 0;
    }
  }
</style>
