---
import EmployeeCard from '@components/sanity/EmployeeCard.astro';
import type { Props as PortableTextProps } from 'astro-portabletext/types';
import type { EmployeeCards } from '@lib/sanity';

export type Props = PortableTextProps<EmployeeCards>;

const { node } = Astro.props;
---

<div class="employee-cards">{node.cards?.map((card) => <EmployeeCard {...card} />)}</div>

<style lang="scss">
  .employee-cards {
    display: grid;
    gap: 5rem;

    @media (min-width: $width-s) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $width-l) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
