---
import type { Props as PortableTextProps } from 'astro-portabletext/types';

import EmployeeCard from '@/components/sanity/EmployeeCard.astro';
import type { EmployeeCards } from '@/lib/sanity';

export type Props = PortableTextProps<EmployeeCards>;

const { node } = Astro.props;
---

<div>{node.employees?.map((employee) => <EmployeeCard {...employee} />)}</div>

<style lang="scss">
  div {
    display: grid;
    gap: 5rem;

    @media (min-width: $width-s) and (max-width: $width-l) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $width-l) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
