---
import type { ArbitraryTypedObject } from '@portabletext/types';
import BlockContent from 'components/sanity/BlockContent.astro';
import BaseLayout from 'layouts/BaseLayout.astro';
import SectionLayout from 'layouts/SectionLayout.astro';
import { getPages } from 'lib/sanity';

export async function getStaticPaths() {
  const pages = await getPages();

  return (
    pages?.map(({ slug, title, content }) => ({
      params: { slug: slug.current },
      props: { title, content },
    })) || []
  );
}

export interface Props {
  title: string;
  content?: ArbitraryTypedObject[];
}

const { title, content } = Astro.props;
---

<BaseLayout title={title}>
  <SectionLayout color="var(--white)">
    <h1>{title}</h1>
    <BlockContent value={content} />
  </SectionLayout>
</BaseLayout>
