---
import type { ArbitraryTypedObject } from '@portabletext/types';
import BlockContent from 'components/sanity/BlockContent.astro';
import Layout from 'layouts/Layout.astro';
import { getPages } from 'lib/sanity';

export async function getStaticPaths() {
  const pages = await getPages();

  return (
    pages?.map(({ slug, title, content }) => ({
      params: { slug: slug.current },
      props: { title, content },
    })) || []
  );
}

export interface Props {
  title: string;
  content?: ArbitraryTypedObject[];
}

const { title, content } = Astro.props;
---

<Layout title={title}>
  <h1>{title}</h1>
  <BlockContent value={content} />
</Layout>
