---
import Layout from 'layouts/Layout.astro';
import { getPages } from 'lib/sanity';

const pages = await getPages();
---

<Layout>
  <ul>
    {
      pages?.map(({ title, slug }) => (
        <li>
          <a href={`/kodio-web/${slug.current}`}>{title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
