---
import Layout from 'layouts/Layout.astro';
---

<Layout>
  <main>
    <a href="/kodio-web/kodio/">Kodio</a>
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
