---
import Link from 'components/Link.astro';
import Layout from 'layouts/Layout.astro';
import { getPages } from 'lib/sanity';

const pages = await getPages();
---

<Layout>
  <ul>
    {
      pages?.map(({ title, slug }) => (
        <li>
          <Link href={`/${slug.current}`} label={title} />
        </li>
      ))
    }
  </ul>
</Layout>
