---
import { PortableText } from 'astro-portabletext';
import OrderedList from '@components/OrderedList.astro';
import UnorderedList from '@components/UnorderedList.astro';
import BlockContentExternalLink from './BlockContentExternalLink.astro';
import BlockContentImage from './BlockContentImage.astro';
import BlockContentInternalLink from './BlockContentInternalLink.astro';
import type { ArbitraryTypedObject } from '@portabletext/types';

export type Props = {
  value: ArbitraryTypedObject | ArbitraryTypedObject[] | undefined;
};

const { value } = Astro.props;
---

<div class:list={['block-content', Astro.props.class]}>
  {
    value && (
      <PortableText
        value={value}
        components={{
          list: { bullet: UnorderedList, number: OrderedList },
          mark: {
            blockContentExternalLink: BlockContentExternalLink,
            blockContentInternalLink: BlockContentInternalLink,
          },
          type: {
            imageObj: BlockContentImage,
          },
        }}
      />
    )
  }
</div>

<style lang="scss">
  .block-content {
    max-width: 65ch;

    > :global(*) {
      margin-bottom: 1rem;
    }

    > :global(h2) {
      margin-bottom: 1.5rem;
    }

    > :global(*:has(+ h3)) {
      margin-bottom: 2rem;
    }

    > :global(img) {
      max-width: 30rem;
      margin-right: auto;
      margin-left: auto;
    }

    > :global(:last-child) {
      margin-bottom: 0;
    }
  }
</style>
