@mixin button($color) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $color;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid var(--black);
  box-shadow: 4px 4px var(--black);

  &:active {
    box-shadow: 2px 2px var(--black);
    translate: 2px 2px;
  }
}

@mixin section-inverted-corner($color) {
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: transparent;
    top: -20px;
    height: 20px;
    width: 10px;
    box-shadow: 0 10px 0 0 $color;
  }

  &::before {
    left: 0;
    border-bottom-left-radius: 10px;
  }

  &::after {
    right: 0;
    border-bottom-right-radius: 10px;
  }
}
