---
export interface Props {
  header: string;
}

const { header } = Astro.props;
---

<li class="accordion-item">
  <h3>
    <button
      id="accordion-header-1"
      class="accordion-header"
      aria-expanded="false"
      aria-controls="accordion-panel-1"
    >
      {header}
      <svg
        class="accordion-toggle-indicator"
        aria-hidden="true"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="18" y1="13" x2="12" y2="19"></line>
        <line x1="6" y1="13" x2="12" y2="19"></line>
      </svg>
    </button>
  </h3>
  <div
    id="accordion-panel-1"
    role="region"
    class="accordion-panel"
    aria-labelledby="accordion-header-1"
  >
    <div class="accordion-panel-inner">
      <slot />
    </div>
  </div>
</li>

<style lang="scss">
  .accordion-item,
  .accordion-header {
    width: 100%;
  }

  .accordion-item {
    border: 2px solid var(--black);
    border-radius: 4px;
    transition: box-shadow 0.3s;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: none;
    padding: 1rem;
    outline-offset: -2px;
  }

  .accordion-toggle-indicator {
    flex-shrink: 0;
    width: 24px;
    transition: rotate 0.3s;
  }

  .accordion-panel {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out, visibility 0s 0.3s;
  }

  .accordion-panel-inner {
    padding: 2rem 1rem;
  }

  .is-open {
    box-shadow: 2px 2px var(--black);

    .accordion-toggle-indicator {
      rotate: 180deg;
    }

    .accordion-panel {
      visibility: visible;
      transition: height 0.3s ease-in-out, visibility 0s 0s;
    }
  }
</style>
