<div class="accordion">
  <ul class="accordion__wrapper">
    <slot />
  </ul>
</div>

<script>
  const accordionItems = [...document.querySelectorAll<HTMLLIElement>('.accordion__item')];

  function getPanelHeight(accordionItem: HTMLLIElement) {
    const accordionInner = accordionItem.querySelector<HTMLDivElement>('.panel__inner');
    return accordionInner?.getBoundingClientRect().height;
  }

  function openAccordionItem(accordionItem: HTMLLIElement) {
    const accordionItemHeader =
      accordionItem.querySelector<HTMLButtonElement>('.accordion__header');
    const accordionPanel = accordionItem.querySelector<HTMLDivElement>('.accordion__panel');

    if (!accordionItemHeader || !accordionPanel) return;

    accordionPanel.style.height = `${getPanelHeight(accordionItem)}px`;
    accordionItem.classList.add('is-open');
    accordionItemHeader.setAttribute('aria-expanded', 'true');
  }

  function closeAccordionItem(accordionItem: HTMLLIElement) {
    const accordionItemHeader =
      accordionItem.querySelector<HTMLButtonElement>('.accordion__header');
    const accordionPanel = accordionItem.querySelector<HTMLDivElement>('.accordion__panel');

    if (!accordionItemHeader || !accordionPanel) return;

    accordionItem.classList.remove('is-open');
    accordionPanel.style.height = '0';
    accordionItemHeader.setAttribute('aria-expanded', 'false');
  }

  function isAccordionOpen(accordionItem: HTMLLIElement) {
    return accordionItem.classList.contains('is-open');
  }

  function recalculateHeight() {
    const openAccordionItems = accordionItems.filter(isAccordionOpen);

    openAccordionItems.forEach((openAccordionItem) => {
      const accordionPanel = openAccordionItem.querySelector<HTMLDivElement>('.accordion__panel');

      if (!accordionPanel) return;

      accordionPanel.style.height = `${getPanelHeight(openAccordionItem)}px`;
    });
  }

  accordionItems.forEach((item, index) => {
    const accordionItemHeader = item.querySelector<HTMLButtonElement>('.accordion__header');
    const accordionItemPanel = item.querySelector<HTMLDivElement>('.accordion__panel');

    if (!accordionItemHeader || !accordionItemPanel) return;

    accordionItemHeader.setAttribute('id', `accordion-item${index + 1}`);
    accordionItemPanel.setAttribute('id', `item${index + 1}`);
    accordionItemHeader.setAttribute('aria-controls', `item${index + 1}`);
    accordionItemPanel.setAttribute('aria-labelledby', `accordion-item${index + 1}`);

    accordionItemHeader.addEventListener('click', () => {
      isAccordionOpen(item) ? closeAccordionItem(item) : openAccordionItem(item);
    });
  });

  window.addEventListener('resize', recalculateHeight);
</script>

<style>
  .accordion {
    margin-bottom: 2rem;
  }

  .accordion__wrapper {
    list-style: none;
    padding: 0;
  }
</style>
