---
export interface Props {
  id?: string;
  className?: string;
  ariaLabel?: string;
  type?: 'button' | 'submit';
}

const { id, className, ariaLabel, type = 'button' } = Astro.props;
---

<button id={id} class:list={[className]} aria-label={ariaLabel} type={type}>
  <slot />
</button>

<style lang="scss">
  button {
    display: flex;
    position: relative;
    background: transparent;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--black);
    box-shadow: 2px 2px var(--black);

    &:active {
      box-shadow: 1px 1px var(--black);
      translate: 1px 1px;
    }
  }
</style>
