---
export interface Props {
  id?: string;
  class?: string;
  ariaLabel?: string;
  type?: 'button' | 'submit';
}

const { id, ariaLabel, type = 'button' } = Astro.props;
---

<button id={id} class={Astro.props.class} aria-label={ariaLabel} type={type}>
  <slot />
</button>

<style lang="scss">
  button {
    @include button(transparent);
  }
</style>
