---
export type Props = astroHTML.JSX.ButtonHTMLAttributes;

const { type = 'button', ...rest } = Astro.props;
---

<button class:list={['button', rest.class]} {...rest} type={type}>
  <slot />
</button>

<style lang="scss">
  .button {
    @include button(transparent);
  }
</style>
