---
import SanityLink from 'components/sanity/SanityLink.astro';
import type { Link } from 'types/sanity';

export interface Props {
  link: Link;
  color?: string | undefined;
}

const { link, color = 'transparent' } = Astro.props;

const linkColor = color === 'transparent' ? 'transparent' : `var(--${color})`;
---

<div>
  <SanityLink class="button-link" link={link} />
</div>

<style lang="scss" define:vars={{ linkColor }}>
  .button-link {
    @include button(var(--linkColor));
    text-decoration: none;
  }
</style>
