---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<'button'>;

const { type = 'button', ...rest } = Astro.props;
---

<button type={type} {...rest}><slot /></button>

<style lang="scss">
  button {
    @include button(transparent);
  }
</style>
