---
import Logo from 'components/Logo.astro';
import SanityLink from 'components/sanity/SanityLink.astro';
import { getFooterConfig } from 'lib/sanity';

const { sections } = await getFooterConfig();
---

<footer>
  <div class="footer-content">
    <Logo />
    <div class="footer-sections">
      {
        sections.map(({ heading, links }) => (
          <div>
            {heading && <div class="footer-section-heading">{heading}</div>}
            <ul>
              {links.map((link) => (
                <li>
                  <SanityLink link={link} />
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    background-color: var(--kodio-dark);
    color: var(--white);

    @include section-inverted-corner(var(--kodio-dark));

    .footer-content {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      margin: auto;
      padding: var(--content-padding);
      max-width: calc(var(--content-max-width) + var(--content-padding) * 2);

      @media (min-width: $width-l) {
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 10rem;
      }
    }

    .footer-sections {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media (min-width: $width-l) {
        gap: 9rem;
        flex-direction: row;
      }

      > div {
        display: flex;
        flex-direction: column;
      }

      .footer-section-heading {
        font-size: 200%;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      font-size: 120%;
      margin-top: 1rem;
      gap: 1rem;

      li {
        :global(a) {
          text-decoration: none;
        }
      }
    }
  }
</style>
