---
import Logo from 'components/Logo.astro';
import SanityLink from 'components/sanity/SanityLink.astro';
import { getFooterConfig } from 'lib/sanity';

const footerConfig = await getFooterConfig();
---

<footer>
  <div class="footer-content">
    <Logo />
    <div class="footer-sections">
      {
        footerConfig?.sections.map(({ heading, links }) => (
          <div>
            {heading && <div class="footer-section-heading">{heading}</div>}
            <ul>
              {links.map((link) => (
                <li>
                  <SanityLink link={link} />
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    position: relative;
    padding: 2rem var(--content-padding);
    background-color: var(--kodio-dark);
    color: var(--white);

    @media (min-width: $width-m) {
      padding: 2rem 3rem 10rem;
    }

    @include section-inverted-corner(var(--kodio-dark));

    .footer-content {
      max-width: calc(var(--content-max-width) + var(--content-padding) * 2);
      margin: 0 auto;
      display: flex;
      gap: 1rem;
      flex-direction: column;

      @media (min-width: $width-l) {
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .footer-sections {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      @media (min-width: $width-l) {
        gap: 9rem;
        flex-direction: row;
      }

      > div {
        display: flex;
        flex-direction: column;
      }

      .footer-section-heading {
        font-size: 200%;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      font-size: 120%;
      margin-top: 1rem;
      gap: 1rem;

      li {
        :global(a) {
          text-decoration: none;
        }
      }
    }
  }
</style>
