---
import type { HTMLAttributes } from 'astro/types';

export type Props = Omit<HTMLAttributes<'a'>, 'href'> & { href: string };

const { href, ...attrs } = Astro.props;
---

<a href={`/kodio-web${href}`} {...attrs}><slot /></a>
