---
export interface Props {
  id?: string;
  className?: string;
  href: string;
  label: string;
}

const { id, className, href, label } = Astro.props;
---

<a id={id} class={className} href={`/kodio-web${href}`}>{label}</a>
