---
import type { HTMLAttributes } from 'astro/types';

export type Props = Omit<HTMLAttributes<'a'>, 'href'> & { href: string };

const { href, ...rest } = Astro.props;
---

<a href={href} {...rest}><slot /></a>
