<span class="logo">Kodio.</span>

<style lang="scss">
  .logo {
    font-size: 175%;
    line-height: 1.28;
    font-weight: 700;
    font-family: var(--ff-lora);

    @media (min-width: $width-m) {
      font-size: 325%;
    }
  }
</style>
