---
import Button from '@components/Button.astro';
import FullScreenModal from '@components/FullScreenModal.astro';
import Link from '@components/Link.astro';
import Logo from '@components/Logo.astro';
import CloseIcon from '@components/icons/Close.astro';
import MenuIcon from '@components/icons/Menu.astro';
import SanityLink from '@components/sanity/SanityLink.astro';
import { getMenuConfig } from '@lib/sanity';

const { links } = await getMenuConfig();
---

<nav>
  <ul>
    {
      links.map((link) => (
        <li>
          <SanityLink link={link} />
        </li>
      ))
    }
  </ul>
</nav>
<Button id="menu-open" class="menu-open" aria-label="Åpne meny">
  <MenuIcon aria-hidden={true} />
</Button>
<FullScreenModal id="menu" label="Meny" openButtonId="menu-open" closeButtonId="menu-close">
  <div class="menu-header">
    <Link href="/" class="logo-link">
      <Logo />
    </Link>
    <Button id="menu-close" class="menu-close" aria-label="Lukk meny">
      <CloseIcon aria-hidden={true} />
    </Button>
  </div>
  <ul class="modal-list">
    {
      links.map((link) => (
        <li>
          <SanityLink link={link} />
        </li>
      ))
    }
  </ul>
</FullScreenModal>

<style lang="scss">
  .menu-open,
  .menu-close {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: calc(0.5rem - 1px);
    box-shadow: 2px 2px var(--black);

    &:active {
      box-shadow: 1px 1px var(--black);
      translate: 1px 1px;
    }
  }

  .logo-link {
    text-decoration: none;
  }

  nav,
  .modal-list {
    :global(a) {
      text-decoration: none;
    }
  }

  nav > ul {
    display: none;
    list-style: none;
    font-size: 125%;
    line-height: 1.2;

    @media (min-width: $width-l) {
      display: flex;
      gap: 3.75rem;
    }
  }

  .menu-open {
    @media (min-width: $width-l) {
      display: none;
    }
  }

  .menu-header {
    @include header(var(--color-text), transparent);
  }

  .modal-list {
    padding: 4rem;
  }
</style>
