---
import Button from 'components/Button.astro';
import Link from 'components/Link.astro';
import Logo from 'components/Logo.astro';
import Modal from 'components/Modal.astro';
import { getPages } from 'lib/sanity';

const pages = await getPages();
---

<Button id="menu-open" ariaLabel="Åpne meny">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <line x1="4" y1="6" x2="20" y2="6"></line>
    <line x1="4" y1="12" x2="20" y2="12"></line>
    <line x1="4" y1="18" x2="20" y2="18"></line>
  </svg>
</Button>
<Modal id="menu" openButtonId="menu-open" closeButtonId="menu-close">
  <div class="menu__header">
    <Logo />
    <Button id="menu-close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </Button>
  </div>
  <ul>
    {
      pages?.map(({ title, slug }) => (
        <li>
          <Link href={`/${slug.current}`}>{title}</Link>
        </li>
      ))
    }
  </ul>
</Modal>

<style>
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 2rem;
  }

  ul {
    padding: 4rem;
  }
</style>
