---
import Button from 'components/Button.astro';
import Link from 'components/Link.astro';
import Logo from 'components/Logo.astro';
import Modal from 'components/Modal.astro';
import SanityLink from 'components/sanity/SanityLink.astro';
import { getMenuConfig } from 'lib/sanity';

const menuConfig = await getMenuConfig();
---

<nav>
  <ul>
    {
      menuConfig?.links.map((link) => (
        <li>
          <SanityLink link={link} />
        </li>
      ))
    }
  </ul>
</nav>
<Button id="menu-open" className="menu-button" ariaLabel="Åpne meny">
  <svg
    aria-hidden="true"
    width="28"
    height="28"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <line x1="4" y1="6" x2="20" y2="6"></line>
    <line x1="4" y1="12" x2="20" y2="12"></line>
    <line x1="4" y1="18" x2="20" y2="18"></line>
  </svg>
</Button>
<Modal id="menu" label="Meny" openButtonId="menu-open" closeButtonId="menu-close">
  <div class="menu-header">
    <Link href="/" className="logo-link">
      <Logo />
    </Link>
    <Button id="menu-close" ariaLabel="Lukk meny">
      <svg
        aria-hidden="true"
        width="28"
        height="28"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </Button>
  </div>
  <ul class="modal-list">
    {
      menuConfig?.links.map((link) => (
        <li>
          <SanityLink link={link} />
        </li>
      ))
    }
  </ul>
</Modal>

<style lang="scss">
  .logo-link {
    text-decoration: none;
  }

  nav,
  .modal-list {
    :global(a) {
      text-decoration: none;
    }
  }

  nav > ul {
    display: none;
    gap: 1.5rem;
    list-style: none;

    @media (min-width: $width-m) {
      display: flex;
    }
  }

  .menu-button {
    @media (min-width: $width-m) {
      display: none;
    }
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 2rem;
  }

  .modal-list {
    padding: 4rem;
  }
</style>
