---
import Button from '@components/Button.astro';
import FullScreenModal from '@components/FullScreenModal.astro';
import Link from '@components/Link.astro';
import Logo from '@components/Logo.astro';
import CloseIcon from '@components/icons/Close.astro';
import MenuIcon from '@components/icons/Menu.astro';
import SanityLink from '@components/sanity/SanityLink.astro';
import { getMenuConfig } from '@lib/sanity';

const { links } = await getMenuConfig();
---

<nav>
  <ul>
    {
      links.map((link) => (
        <li>
          <SanityLink link={link} />
        </li>
      ))
    }
  </ul>
</nav>
<Button id="menu-open" class="menu-open" aria-label="Åpne meny">
  <MenuIcon aria-hidden={true} />
</Button>
<FullScreenModal id="menu" label="Meny" openButtonId="menu-open" closeButtonId="menu-close">
  <div class="menu-header">
    <Link href="/">
      <Logo />
    </Link>
    <Button id="menu-close" class="menu-close" aria-label="Lukk meny">
      <CloseIcon aria-hidden={true} />
    </Button>
  </div>
  <ol class="modal-list">
    {
      links.map((link) => (
        <li>
          <SanityLink link={link} />
        </li>
      ))
    }
  </ol>
</FullScreenModal>

<style lang="scss">
  .menu-open,
  .menu-close {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: calc(0.5rem - 1px);
    box-shadow: 2px 2px var(--black);

    &:active {
      box-shadow: 1px 1px var(--black);
      translate: 1px 1px;
    }
  }

  nav > ul {
    display: none;
    list-style: none;
    font-size: 125%;
    line-height: 1.2;

    @media (min-width: $width-l) {
      display: flex;
      gap: 3.75rem;
    }
  }

  .menu-open {
    @media (min-width: $width-l) {
      display: none;
    }
  }

  .menu-header {
    @include header(var(--color-text), transparent);
  }

  .modal-list {
    padding: 6.5rem 1.5rem 0;
    list-style: none;
    counter-reset: list-number;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;

    li {
      position: relative;
      padding-left: 2.625rem;
      font-size: 150%;
      line-height: 1.3;

      &::before {
        counter-increment: list-number;
        content: counter(list-number, decimal-leading-zero);
        position: absolute;
        left: 0.125rem;
        color: var(--green-700);
        font-weight: 500;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -0.325rem;
        left: 0;
        right: 0;
        height: 0.125rem;
        border-radius: 0.125rem;
        background-color: var(--green-800);
      }

      :global(a) {
        font-family: var(--ff-lora);
        font-weight: 600;
      }
    }
  }
</style>
