---
import ButtonLink from '@components/ButtonLink.astro';
import Image from '@components/Image.astro';
import SectionLayout from '@layouts/SectionLayout.astro';
import type { Header } from '@lib/sanity';

export interface Props {
  header: Header;
}

const { header } = Astro.props;

const link = header.links?.[0];
---

<SectionLayout color={header.color}>
  <div class="header-container">
    <div class="heading-wrapper">
      <h1>{header.heading}</h1>
      {link && <ButtonLink link={link} color="yellow-50" />}
    </div>
    {
      header.image && (
        <Image
          class="heading-image"
          image={header.image}
          sizes="(min-width: 64rem) 40vw, 90vw"
          loading="eager"
        />
      )
    }
  </div>
</SectionLayout>

<style lang="scss">
  .header-container {
    display: grid;
    align-items: center;
    gap: 5.5rem;

    @media (min-width: $width-m) {
      padding-top: 4.5rem;
      grid-template-columns: 4fr 3fr;
      gap: 4.25rem;
    }

    .heading-wrapper {
      display: grid;
      gap: 1rem;

      @media (min-width: $width-m) {
        gap: 2.5rem;
      }
    }

    .heading-image {
      @media (max-width: $width-m) {
        aspect-ratio: 1;
      }
    }
  }
</style>
