---
import ButtonLink from 'components/ButtonLink.astro';
import Image from 'components/Image.astro';
import SectionLayout from 'layouts/SectionLayout.astro';
import type { Header } from 'types/sanity';

export interface Props {
  header: Header;
}

const { header } = Astro.props;

const link = header.links?.[0];
---

<SectionLayout color={header.color}>
  <div class="header-container">
    <div class="heading-wrapper">
      <h1>{header.heading}</h1>
      {link && <ButtonLink link={link} color="pale-yellow" />}
    </div>
    {header.image && <Image image={header.image} />}
  </div>
</SectionLayout>

<style lang="scss">
  .header-container {
    padding: 4.5rem 0;
    display: grid;
    align-items: center;
    gap: 5.5rem;

    @media (min-width: $width-l) {
      grid-template-columns: 4fr 3fr;
      gap: 4.25rem;
    }

    .heading-wrapper {
      display: grid;
      gap: 1rem;

      @media (min-width: $width-l) {
        gap: 2.5rem;
      }
    }
  }
</style>
