<a href="#main">Hopp til hovedinnhold</a>

<style lang="scss">
  a {
    position: absolute !important;
    background-color: var(--white);
    padding: 0.5rem;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 0.125rem var(--white);
      top: 0.25rem;
      left: 0.25rem;
      width: auto;
      height: auto;
    }
  }
</style>
