name: Build and deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

  # Allows external webhook trigger
  repository_dispatch:
    types: [sanity-production]

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: prod
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      SANITY_DATASET: ${{ secrets.SANITY_DATASET }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: web/package-lock.json

      - name: Install
        run: npm ci --prefix web

      - name: Verify
        run: npm run verify --prefix web

      - name: Build
        run: npm run build --prefix web

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: web/dist/

  deploy:
    name: Deploy
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
